.div-table
{
  display:table;
  border:1px solid #F89400;
  margin-top:10px;
  margin-left:5px;
}
.div-table-caption{
  display:table-caption;
  background:#43AD2F;
  color:white;
  font-weight:bold;
}
.div-table-row{
  /*display:table-row;*/
  border-bottom: 1px solid #F89400;
  line-height: 20px;
}
.div-table-col{
border-left: 1pt solid #F89400;
    display: table-cell;
    /*padding-left: 5px;*/
    width: 75px;
}

